html,
body {
    height: 100%;
    /* Set the height of html and body elements to 100% */
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default paddings */
    overflow-x: hidden;
    /* Hide horizontal scrollbar if present */
}
.background-container {
    text-align: center;
}

.background-image {
    width: 100%;
    height: 100vh;
    /* Set the height to cover the entire viewport */
    object-fit: cover;
}
.page-title {
    font-size: 5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.9), 0 0 3px rgba(0, 0, 0, 0.9),
        0 0 3px rgba(0, 0, 0, 0.9), 0 0 3px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0;
}
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.logo-image {
    max-width:1000px;

}
.page-button {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #555555;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 9999px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.page-button:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-group .page-button:not(:last-child) {
    margin-right: 10px;
}
.text-image {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: auto;
}

/* Add the following CSS for marquee effect */
/* .marquee-container {
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
     animation: marqueeAnimation 15s linear infinite; 
    padding: 0 20px;
    justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
           
            justify-content: flex-start;
} */


@keyframes marqueeAnimation {
    0% {
        transform: translateX(130%);
    }

    100% {
        transform: translateX(-29%);
    }
}
/* TimesPray */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center;
}

.card .message {
    flex: 1;
    margin: 5px;
}
.custom-list-group {
    font-size: 18px;
}

.custom-list-item {
    padding: 15px;
}
.custom-card {
    border: none;
}
.card{
    border:none;
}
/* PAGE MASSAGE */
.notice-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.notice-board>.card {
    width: 400px;
    margin-bottom: 20px;
}


.add-message {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}
 .tracking-in-expand-fwd-top {
     -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
     animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 }

 @-webkit-keyframes tracking-in-expand-fwd-top {
     0% {
         letter-spacing: -0.5em;
         -webkit-transform: translateZ(-700px) translateY(-500px);
         transform: translateZ(-700px) translateY(-500px);
         opacity: 0;
     }

     40% {
         opacity: 0.6;
     }

     100% {
         -webkit-transform: translateZ(0) translateY(0);
         transform: translateZ(0) translateY(0);
         opacity: 1;
     }
 }

 @keyframes tracking-in-expand-fwd-top {
     0% {
         letter-spacing: -0.5em;
         -webkit-transform: translateZ(-700px) translateY(-500px);
         transform: translateZ(-700px) translateY(-500px);
         opacity: 0;
     }

     40% {
         opacity: 0.6;
     }

     100% {
         -webkit-transform: translateZ(0) translateY(0);
         transform: translateZ(0) translateY(0);
         opacity: 1;
     }
 }
@font-face {
    font-family: "StamSefaradCLM";
    src: url("../fonts/StamSefaradCLM.ttf") format("truetype");
}
.my-element {
    font-family: "StamSefaradCLM", sans-serif;
}
@media (max-width: 768px) {



    .content {
        text-align: center;
    }

    .logo-image {
        max-width: 400px;
    }

    .button-group .page-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .marquee-content {
        font-size: 16px;
    }

    .text-image {
        display: block;
         margin: 20px auto; 
        width: 100%;
        height: auto;
    }
  .page-title {
      font-size: 3rem;
      font-weight: bold;
      font-family: Arial, sans-serif;
      color: #fff;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.9), 0 0 3px rgba(0, 0, 0, 0.9),
          0 0 3px rgba(0, 0, 0, 0.9), 0 0 3px rgba(0, 0, 0, 0.9);
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 1;
  }
                .background-container {
                    /* Center the image on the small screen */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* Remove the fixed positioning */
                    position: static;
                }
        
                .background-image {
                    /* Set the height to cover the entire viewport */
                    height: 100vh;
                    /* Allow the image to resize without cropping */
                    object-fit: cover;
                    /* Prevent the image from repeating */
                    background-repeat: no-repeat;
                    /* Center the image both horizontally and vertically */
                    background-position: center center;
                }





/* עיצוב תצוגת המסך בפאלפון ומסכים קטנים */
.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: calc(100vh - 100px);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* אנחנו משתמשים ב-% כדי להתאים את הרוחב לגודל המסך */
    max-width: 400px;
    /* הרוחב המרבי של הכרטיס יהיה 400 פיקסלים */
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    /* הכרטיס יישר במרכז העמוד */
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center;
}

.custom-list-group {
    font-size: 18px;
}

.custom-list-item {
    padding: 15px;
}

.custom-card {
    border: none;
}

/* כדי לשמור על אותו גודל של הכרטיסים ברוחב */
.card .message {
    flex: 1;
    margin: 5px;
}

/* הוספת עיצוב לעמוד ההודעות */
.notice-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* אנחנו רוצים שהכרטיס יתאים לרוחב המסך */
.notice-board>.card {
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
}

/* התאמת העמוד למסכים קטנים */
.add-message {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: column;
    /* עבור מסכים קטנים נשנה לכיוון עמודי */
    align-items: center;
    /* הטקסט יישאר מרכזי על גבי הכרטיס */
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    flex-direction: column;
    /* עבור מסכים קטנים נשנה לכיוון עמודי */
    align-items: center;
    /* הכפתורים יישארו מרכזיים על גבי הכרטיס */
}


}
